@media (min-width: 768px) {
  #menu {
    display: none;
  }

  nav {
    display: flex;
    justify-content: center;
  }

  main {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
  }
}
