body {
  font-family: 'Roboto', sans-serif;
  margin: 0;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
}

nav {
  display: none;
  flex-direction: column;
}

nav a {
  padding: 1rem;
  text-decoration: none;
}

nav a.active {
  font-weight: bold;
}

#menu {
  font-size: 1.5rem;
}
