@media (max-width: 768px) {

  nav ul {
    flex-direction: column;
    display: none;
    background: #1f2933;
    position: absolute;
    top: 70px;
    right: 0;
    width: 200px;
    padding: 1rem;
  }

  nav ul.show {
    display: flex;
  }

  #hamburger {
    display: block;
  }

}
